<div class="row" style="max-height:300px; overflow-y:scroll;">
    <div *ngFor="let item of modelsNames" style="height:110px; border-top: 1px solid #212f3c; ">
        <div style="margin-top:20px; width:fit-content; float:left">
            <img src="assets/images/datasetRandom.jpg" height="70px" width="auto">
        </div>

        <div style="width:fit-content; float:left;margin-top:10px;margin-left: 20px; ">
            <h3 style="margin-bottom:0px;">
                {{item}}
            </h3>
            <div>Train on dataset:</div>
            <div>Last Modified:</div>
        </div>

        <div style="float:right; margin-top:40px;"> <!-- ovaj div ce da ima dugmice -->
            <button id="{{item}}" value="{{item}}" style="background:transparent; border: none;" (click)="selectModels($event)">
                <img src="assets/images/eye.png" width="30px" height="30px">
            </button>

            <button style="background:transparent; border: none;margin-left: 50px; margin-right: 20px;">
                <img src="assets/images/dots.png" width="30px" height="30px">
            </button>
        </div>
    </div>
    <div style="border-top:#212f3c 1px solid;"></div>
</div>