<div class="container" *ngIf="spiner.showSpiner" style="position: relative;background-color: white;height: 140px;">
      <div><h1 id="treningUToku" style="text-align: center;font-family: 'Lucida Console', 'Courier New', monospace; ">Treaning in progress!</h1></div>
      <div id="loader" style="margin-top: 40px;">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="loading"></div>
      </div>
  </div>