.form-select{
    width: fit-content;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

td, th{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

select:disabled{
    background-color: #CEECFA;
}

.redoviSticky{
    position: -webkit-sticky;
    position: sticky;
    width: fit-content;
    left: 0px;
    background-color: #CEECFA;
}
