<table>
    <thead>
        <th>Columns</th>
        <th>Numeric/Categorical</th>
        <th>Encoding Type</th>
    </thead>
    <tbody>
        <tr *ngFor="let head of headers; let i = index">
            <td>{{ head }}</td>
            <td>
                <select [ngModel]="selected[i]" (ngModelChange)="changeType($event, i)">
                    <option value="categorical">Categorical</option>
                    <option value="numerical">Numerical</option>
                  </select>
            </td>
            <td>
                <select *ngIf="selected[i] == 'categorical'" name="" id="" [ngModel]="selectedEncodings[i]" (ngModelChange)="changeEncoding($event, i)">
                    <option value="one hot">One hot</option>
                    <option value="label">Label</option>
                    <option value="binary">Binary</option>
                </select>
                <select *ngIf="selected[i] !== 'categorical'" name="" id="">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
