<div style="width:100%; margin: auto;">
    <div style="width:100%;text-align:center;font-size: 25px; font-weight: bold;margin-bottom: 15px;">Choose Inputs and Target</div>
    <table style="width: 100px;margin: auto;">
        <thead>
            <th>Columns</th>
            <th>Numeric/Categorical</th>
            <th>Encoding Type</th>
            <th>Missing Values</th>
        </thead>
        <br>
        <tbody>
            <tr *ngFor="let head of headers; let i = index">
                <td style="text-align: left; font-weight: bold;">{{ head }}</td>
                <td>
                    <select class="form-select" [ngModel]="selected[i]" [attr.disabled]="startArrayType[i] ? 'disabled' : null" (ngModelChange)="changeType($event, i)">
                        <option value="categorical">Categorical</option>
                        <option value="numerical">Numerical</option>
                    </select>
                </td>
                <td>
                    <select class="form-select" [attr.disabled]="startArray[i] != 'categorical' ? 'disabled' : null" name="" id="" [ngModel]="encodings[i]" (ngModelChange)="changeEncoding($event, i)">
                        <option value="one hot">One hot</option>
                        <option value="label">Label</option>
                        <option value="binary">Binary</option>
                    </select>
                    <!--
                    <select class="form-select" *ngIf="selected[i] == 'categorical'" name="" id="" [ngModel]="selectedEncodings[i]" (ngModelChange)="changeEncoding($event, i)">
                        <option value="one hot">One hot</option>
                        <option value="label">Label</option>
                        <option value="binary">Binary</option>
                    </select>
                    <select class="form-select" *ngIf="selected[i] !== 'categorical'" name="" id="">
                        <option value=""></option>
                    </select>
                    -->
                </td>
                <td>
                    <select class="form-select" [ngModel]="missingValues[i]" *ngIf="selected[i] == 'categorical'" (ngModelChange)="changeMissingValues($event, i)">
                        <option value="top">Top</option>
                        <option value="delete">Delete</option>
                    </select>
                    <select class="form-select" [ngModel]="missingValues[i]" *ngIf="selected[i] == 'numerical'" (ngModelChange)="changeMissingValues($event, i)">
                        <option value="mean">Mean</option>
                        <option value="median">Median</option>
                        <option value="min">Minimum</option>
                        <option value="max">Maximum</option>
                        <option value="delete">Delete</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
