#sredina{
  background: #000112;
  height: 700px;
}
#sredinaCentar{
  height: 800px;
  margin: 0 90px 0 90px;
}
/**.animated{
  color: white;
  position: absolute;
  top: 100px;
  right: 200px;
  font-size: 30px;
  font-family: 'Century Gothic';
}*/

#top-controls {
border-bottom: 1px solid #ddd;
border-top: 35px solid #000112;
padding: 18px 0;
box-shadow: 0 1px 4px rgba(0,0,0,0.08);
background: white;
border-radius: 4px;
}

#top-controls .container {
display: flex;
justify-content: space-between;
}

#top-controls .timeline-controls {
display: flex;
align-items: center;
margin-right: 20px;
width: 140px;
}
#top-controls .control {
flex-grow: 1;
max-width: 180px;
min-width: 110px;
margin-left: 30px;
margin-top: 6px;
}
#top-controls .control .label,
#top-controls .control label {
color: rgb(175, 38, 38);
font-size: 13px;
margin-bottom: 6px;
font-weight: 300;
}
#top-controls .control .value {
font-size: 24px;
margin: 0;
font-weight: 300;
}
#top-controls .control .select {
position: relative;
}
#top-controls .control select {

border-radius: 15px;
padding: 6px 0;
width: 100%;
font-size: 14px;
border: solid 1px rgb(175, 38, 38);
color: #333;
outline:rgb(175, 38, 38);
}

#main-part{
background: white;
margin-top: 30px;
padding-top: 2px;
height: auto;
border-radius: 4px;
}
#main-part p,label {
font-weight: 300;
line-height: 1.38em;
margin: 0;
color: rgb(175, 38, 38);
font-size: 13px;
}
.blok{
display: inline-block;
background: rgb(22, 23, 31);
margin-left: 15px;
}
.blok .btn{
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
  border-color: red;
}
