
<div id="sredina">
  <div id="sredinaCentar">  
    <div id="tabelaCentar">
      <button type="button" class="btn btn-primary btn-lg" style="position: absolute;left: 40%" [hidden]="!edited" (click)="showHp()">Go to Hyperparameters</button>
      <button type="button" class="btn btn-primary btn-lg" style="position: absolute;left: 50%" [hidden]="edited" (click)="showCsv()"> CSV </button>
      <app-hyperparameters [hidden]="edited"></app-hyperparameters>
      <app-csv [hidden]="!edited"></app-csv>
    </div>
  </div>
</div>