<div class="container-table" style="overflow-x:scroll;">
    <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of header">{{item}}</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of rowLines">
                <td *ngFor="let item1 of item">{{item1}}</td>
            </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [boundaryLinks]="true" [maxSize]="15" [collectionSize]="dataLength" [(page)]="currentPage" [pageSize]="itemsPerPage" (pageChange)="changePage()">
        </ngb-pagination>
      </div>
</div>