tr:hover{
    background-color: #ebf7fd;
}

.form-select{
    width: fit-content;
}

td, th{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

select:disabled{
    background-color: #CEECFA;
}

td div{
    max-height: 29px;
    overflow: hidden;
}


tr:hover td div{
    max-height: fit-content;
    overflow: hidden;
}


