<div class="container-table" style="overflow-x:auto; border: #CEECFA 2px solid;border-radius: 5px;">
  <table class="table table-hover">
      <caption style="caption-side: top;width:100%;text-align:left;font-weight: bold;font-size: 25px;background-color: #CEECFA; border-top-left-radius: 3px; border-top-right-radius: 3px;padding-left: 20px;color:black;">Dataset</caption>  
      <thead>
          <tr>
            <th *ngFor="let item of header; let i = index">
              {{item}}
              <br>
              <button type="button"  (click)="sortTableAsc(i)" style="border:none; background-color: transparent; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                </svg>
              </button>
              <button type="button"  (click)="sortTableDesc(i)" style="border:none; background-color: transparent; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                </svg>
              </button>
            </th>
          </tr>

          
          <tr>
            <th *ngFor="let item of header; let i = index">
              <select class="form-select" [ngModel]="preload[i]" (ngModelChange)="fetchInputsOutputs($event, i)">
                <option value="input">Input</option>
                <option value="target">Target</option>
                <option value="none">None</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let item of rowLines" (click)="showAndHide($event)">
                <td *ngFor="let item1 of item">
                  <div>{{item1}}</div>
                </td>
              </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [boundaryLinks]="true" [maxSize]="15" [collectionSize]="dataLength" [(page)]="currentPage" [pageSize]="itemsPerPage" (pageChange)="changePage()">
        </ngb-pagination>
      </div>
      

</div>