<div class="container-table" style="overflow-x:auto; border: #CEECFA 2px solid;border-radius: 5px;">
  <table class="table table-hover">
      <caption style="caption-side: top;width:100%;text-align:left;font-weight: bold;font-size: 25px;background-color: #CEECFA; border-top-left-radius: 3px; border-top-right-radius: 3px;padding-left: 20px;color:black;">Dataset</caption>  
      <thead>
          <tr>
            <th *ngFor="let item of header; let i = index">
              {{item}}<br>
              <button type="button" class="btn btn-outline-primary" (click)="sortTableAsc(i)" style="margin-bottom: 3px;width: 100%;">sort Asc</button>
              <button type="button" class="btn btn-outline-primary" (click)="sortTableDesc(i)" style="width: 100%;">sort Desc</button>
            </th>
          </tr>

          
          <tr>
            <th *ngFor="let item of header; let i = index">
              <select class="form-select" [ngModel]="preload[i]" (ngModelChange)="fetchInputsOutputs($event, i)">
                <option value="input">Input</option>
                <option value="target">Target</option>
                <option value="none">None</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let item of rowLines" (click)="showAndHide($event)">
                <td *ngFor="let item1 of item">
                  <div>{{item1}}</div>
                </td>
              </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [boundaryLinks]="true" [maxSize]="15" [collectionSize]="dataLength" [(page)]="currentPage" [pageSize]="itemsPerPage" (pageChange)="changePage()">
        </ngb-pagination>
      </div>
      

</div>