.container-fluid{
    background-color: #34495E;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.sredina{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: #212F3C 10px 10px 10px -1px;
}

.row {
    /*height: 150px;*/
    padding: 10px;
    width: 80%;
    margin:auto;
    /*background-color: red;*/
}

.col-4 img{
    height: 80px;
    width: auto;
    margin: auto;
    float:left;
}

.tekst{
    font-size: 7vw;
}
.form{
    padding: 50px;
}
.form-control{
    width: 100%;
}

textarea{
    height: 200px;
}
button{
    margin-right: 20px;
}
