<div class="container-fluid">
    <div class="container sredina">
            <div class="row">
                <div style="width:90%;margin:auto;height:100px;">
                    <div class="col-4" style="margin-left:20px;">
                        <img src="assets/images/person.jpg">
                    </div>
                    <div class="" style="height:100px; font-size: 50px; float:left; padding-left: 30%;padding-top: 10px;">
                        Send Email
                    </div>
                </div>
            </div>
        
        <form class="form">  
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="Leave a comment here"></textarea>
            </div>
            <div class="mb-3">
                <button (click)="PosaljiEmail()" type="submit" class="btn btn-primary dugmeUpdate">Send Email</button>
                <a [routerLink]="['/profile']"><button type="submit" class="btn btn-primary dugmeUpdate" >Back</button></a>
            </div>
            <div *ngIf="isEmailSentSuccess" class="alert alert-success">
                <strong>Success. You sent an email </strong>
            </div>
        </form>

    </div>
</div>
