@media screen and (max-width: 720px) {
    #glavno{
        width: 100%;
    }
    #list-example{
        width: 100%;
    }
  }

.row{
    width: 100%;
    margin: auto;
}

.container1{
    padding: 20px;
    background-color: #34495E ;
    color: white;
    padding-right: 100px;
}
#list-example{
    border: 2px solid #212F3C;
    text-align: center;
    position: sticky;
    top: 20px;;
}
#list-example a{
    background-color: #212F3C;
    color: white;
}

.col-sm-4{
    padding-top:20px;
    margin-bottom: 20px;
}

#glavno{
    background-color: white;
    border-radius: 5px;
    color:#212F3C;
    border: #212F3C 2px solid;
}

h1{
    font-size: 4vw;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #34495E;
    color:white;
}
h3{
    padding-top: 10px;
    font-size: 3vw;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #34495E;
    color:white;
}

hr{
    color:#34495E ;
}

p, ul
{
    font-size: 1.3vw;
}

#stepsDiv{
    width: 90%;
    margin: auto;
}

iframe{
    width: 100%;
    height: 550px;
}

img{
    border:5px solid #344;
    margin:2px;
}
