#wrapper{
  background-color: #212F3C ;
  /*margin-top: 150px;*/
  padding-top: 0px;
}

.row{
 width: 100%;
 margin: auto;
 text-align: center;
}
 
#footLogo, #footAbout, #footContact{
/*
  width: 30%;
*/
  padding: 0px;
}


#wrapper .col-sm h1 {
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: 'Century Gothic';
  margin-bottom: 10px;
}

#wrapper .col-sm .col p {
  color: white;
  text-align: center;
  line-height: 15px;
  font-family: 'Century Gothic';
}

#col1 ul{
  padding-left: 0px;
}

#col1 li{
  color: white;
  text-align: center;
  height: 20px;
  list-style-type: none;
  font-family: 'Century Gothic';
  margin-left: 0px;
}
#wrapper .col-sm {
  background-color: #212F3C ;
  padding-top: 20px;
}

img{
  width: 100px;
  height: auto;
  margin:0px;
}

/*
@media screen and (max-width: 990px) {
  img{
    width: 80px;
    height: auto;
  }
}
*/