#wrapper{
  background-color: #212F3C ;
  /*margin-top: 150px;*/
}
.row{
 width: 100%;
}
#wrapper .col-sm h1 {
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: 'Century Gothic';
  padding-bottom: 10px;
}
#wrapper .col-sm .col p {
  color: white;
  text-align: center;
  line-height: 15px;
  font-family: 'Century Gothic';
}

#col1 li{
  color: white;
  text-align: center;
  list-style-type: none;
  font-family: 'Century Gothic';
}
#wrapper .col-sm {
  background-color: #212F3C ;
  padding-top: 25px;
}

img{
  height: 100px;
  width: 100px;
}