<div id="wrapper" class="text-center text-white" style="height: 12vh;">
    <!--<div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.
    </div>-->
    <div class="row">
        <div class="col-sm" id="footAbout">
            <h1 style="font-weight: bold;">RevolutionN Serbia</h1>
            <div class="col">
                <p>Radoja Domanovića 12, Kragujevac</p>
            </div>
        </div>

        <div class="col-sm" id="footLogo" style="padding-top:0px;">
            <img class=" rounded mx-auto d-block img-fluid" src="assets/images/logo_blank.png">
        </div>

        <div class="col-sm" id="footContact">
            <h1 style="font-weight:bold;">Contact us</h1>
            <div id="col1">
                <ul>
                    <li><i-bs name="telephone" width="20" height="20"></i-bs>0540331663</li>
                    <li><i-bs name="envelope" width="20" height="20"></i-bs> igranonnica@gmail.com</li>
                </ul>
            </div>
        </div>

        <!--<div class="text-center p-3" style="background-color: #161f27;">-->
        <!--<div class="text-center p-3">    
            © 2022 Copyright:
            <a class="text-white" href="#">igrANNonica.com</a>
          </div>
        -->
    </div>
</div>
