<div id="wrapper">
  <div class="row">
      <div class="col-sm">
          <h1>LOGO</h1>
      </div>
      <div class="col-sm">
          <h1>About us</h1>
          <div class="col">
              <p>something about us and what we do</p>
          </div>
      </div>
      <div class="col-sm">
          <h1>Contact us</h1>
          <div id="col1">
              <ul>
                  <li><i-bs name="telephone" width="20" height="20"></i-bs>0540331663</li>
                  <li><i-bs name="envelope" width="20" height="20"></i-bs> igranonnica@gmail.com</li>
              </ul>
          </div>
      </div>
  </div>
</div>
