
<app-header></app-header>
<router-outlet></router-outlet> 

<app-sredina></app-sredina>

<app-footer></app-footer>

<!--
<p style="position: relative;">vrednost je: {{value}}</p>

    <mat-slider style="background: red;"
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="value"
        [vertical]="vertical"
        aria-labelledby="example-name-label">
    </mat-slider>-->

 