<div id="center"> 
    <!--<img [src]="myimage" alt=""class="img-fluid">
   <span class="animated zoomInRight infinite" style="animation-delay:2s">Welcome to RevolutionN<br>Begin your journey with neural network now </span>-->
   <div id="top-controls">
    <div class="container l--page">
      
      <div class="control ui-learningRate">
        <label for="learningRate">Learning rate</label>
        <div class="select">
          <select id="learningRate">
            <option value="0.00001">0.00001</option>
            <option value="0.0001">0.0001</option>
            <option value="0.001">0.001</option>
            <option value="0.003">0.003</option>
            <option value="0.01">0.01</option>
            <option value="0.03">0.03</option>
            <option value="0.1">0.1</option>
            <option value="0.3">0.3</option>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <div class="control ui-activation">
        <label for="activations">Activation</label>
        <div class="select">
          <select id="activations">
            <option value="relu">ReLU</option>
            <option value="tanh">Tanh</option>
            <option value="sigmoid">Sigmoid</option>
            <option value="linear">Linear</option>
          </select>
        </div>
      </div>
      <div class="control ui-regularization">
        <label for="regularizations">Regularization</label>
        <div class="select">
          <select id="regularizations">
            <option value="none">None</option>
            <option value="L1">L1</option>
            <option value="L2">L2</option>
          </select>
        </div>
      </div>
      <div class="control ui-regularizationRate">
        <label for="regularRate">Regularization rate</label>
        <div class="select">
          <select id="regularRate">
            <option value="0">0</option>
            <option value="0.001">0.001</option>
            <option value="0.003">0.003</option>
            <option value="0.01">0.01</option>
            <option value="0.03">0.03</option>
            <option value="0.1">0.1</option>
            <option value="0.3">0.3</option>
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <div class="control ui-problem">
        <label for="problem">Problem type</label>
        <div class="select">
          <select id="problem">
            <option value="classification">Classification</option>
            <option value="regression">Regression</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  

  </div>