
#slikaPocetna{
  height: 100vh;
  position: relative;
}
  #tekstPocetna{
    color: white;
    position: absolute;
    top:30px;
    left: 50px;
    font-size: 50px;
    font-family: 'Century Gothic';
    /*font-variant:small-caps;*/

  }
  #slikaPocetna img{
    width: 100%;
    height: 100%;
    position: relative;
  }