<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="RegisterId"
    [value]="service.formData.RegisterId"/>


        <div class="form-group col-md-10">
            <label>INDEX NUMBER</label>
            <input class="form-control form-control-lg" placeholder="Index number"
            name="indexNumber" #indexNumber="ngModel"[(ngModel)]="service.formData.indexNumber" 
            required [class.invalid]="indexNumber.invalid && indexNumber.touched">
        </div>

        <div class="form-group col-md-10">
            <label>YEAR NUMBER</label>
            <input class="form-control form-control-lg" placeholder="Year number"
            name="yearNumber" #yearNumber="ngModel"[(ngModel)]="service.formData.yearNumber" 
            required  [class.invalid]="yearNumber.invalid && yearNumber.touched">
        </div>
   
    
    <div class="form-group col-md-10">
        <label>FULL NAME</label>
        <input class="form-control form-control-lg" placeholder="Full name"
        name="fullName" #fullName="ngModel"[(ngModel)]="service.formData.fullName" 
        required  [class.invalid]="fullName.invalid && fullName.touched">
    </div>

    
    <div class="form-group col-md-10">
        <label>SUBJECT NAME</label>
        <input class="form-control form-control-lg" placeholder="Subject name"
        name="subjectName" #subjectName="ngModel"[(ngModel)]="service.formData.subjectName"
         required  [class.invalid]="subjectName.invalid && subjectName.touched">
    </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>

</form>