<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav-ml-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">INFORMATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prijava']">LOG IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/registracija']">SIGN UP</a>
        </li>
      </ul>
    </nav>
  </div>
</div>





