
<!--///////////////////NAVBAR////////////////-->

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/informations']">Informations</a>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle *ngIf="showMe"  class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-current="page" style="cursor: pointer;"><i-bs name="person-circle" width="25" height="25"></i-bs> {{loggedUser}}</a>
          <a ngbDropdownToggle *ngIf="showMe2"  class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-current="page" style="cursor: pointer;">Profile</a>
          <div ngbDropdownMenu class="dropdown-menu" >
            <li class="nav-item"  *ngIf="showMe2">
              <a ngbDropdownItem class="nav-link" style="background-color: rgb(22, 23, 31);" aria-current="page" role="button" (click)="openLogin(contentLogin)">Login</a>
            </li>
              <li class="nav-item" *ngIf="showMe2">
              <a ngbDropdownItem class="nav-link" style="background-color: rgb(22, 23, 31);" role="button" (click)="openRegister(contentRegister)">Sign up</a>
             </li>
             <li class="nav-item">
              <a *ngIf="showMe" class="nav-link active" aria-current="page"  [routerLink]="['/profile']">My profile</a>
             </li>
             <li class="nav-item" *ngIf="showMe">
                <a class="nav-link active" aria-current="page"  style="cursor: pointer;" (click)="onLogOut()">Logout</a>
             </li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--///////////////////REGISTRACIJA I LOGIN////////////////-->

<ng-template #contentRegister let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Welcone to Igrannonica</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <div class="col-lg-7">
      <form  [formGroup]="registerForm" (ngSubmit)="onSubmitReg()">
        <div class="form-group col-md-10">
          <input type="text"  id="firstname"  formControlName="firstname" ngModel name="firstname" placeholder="First Name" class="form-control form-control-lg" required>
          <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
            <span class="error" *ngIf="firstname.errors?.required">*Firts name is required.</span>
            <span class="error" *ngIf="firstname.errors?.pattern">*Enter only characters.</span>
          </div>
        </div>
        <div class="form-group col-md-10">
          <input type="text" id="lastname"  formControlName="lastname" ngModel name="lastname" placeholder="Last Name" class="form-control form-control-lg" required>
          <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
            <span class="error" *ngIf="lastname.errors?.required">*Last name is required.</span>
            <span class="error" *ngIf="lastname.errors?.pattern">*Enter only characters.</span>
          </div>
        </div>
        <div class="form-group col-md-10" >
          <input type="text" id="email"  formControlName="email" ngModel name="email" placeholder="Email" class="form-control form-control-lg" required>
          <div *ngIf="username.invalid && (username.touched || username.dirty)">
            <span class="error" *ngIf="username.errors?.required">*Email is required.</span>
          </div>
        </div>
        <div class="form-group col-md-10" >
          <input type="text" id="username"  formControlName="username" ngModel name="username" placeholder="Username" class="form-control form-control-lg" required>
          <div *ngIf="username.invalid && (username.touched || username.dirty)">
            <span class="error" *ngIf="username.errors?.required">*Username is required.</span>
          </div>
        </div>
        
        <div class="form-group col-md-10">
          <input type="password"  id="password"  formControlName="password"  ngModel name="password" placeholder="Password" class="form-control form-control-lg" required>
          <div *ngIf="password.invalid && (password.touched || password.dirty)">
            <span class="error" *ngIf="password.errors?.required">*Password is required.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="registerForm.invalid" class="btn1" (click)="modal.close('Save click')">Create Account</button>
        </div>
      </form>
    </div>
  </div>

</ng-template>


<ng-template #contentLogin let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1">Welcome back</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="col-lg-7">
      <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group col-md-10">
          <label>Username</label>
          <input type="text" id="username" ngModel name="username" class="form-control form-control-lg" required>
         
        </div>
        <div class="form-group col-md-10">
          <label>Password</label>
          <input type="password"  id="password" ngModel name="password"  class="form-control form-control-lg" required>
        
        </div>
        <div class="modal-footer">
          <button  type="submit" class="btn1" (click)="modal.close('Save click')">Log in</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

