
.modal-body{
  margin-left: 100px;
}
::ng-deep .btn1{
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  background-color:  rgb(22, 23, 31);
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
::ng-deep .btn1:hover{
  background: white;
  border: 1px solid;
  color: rgb(22, 23, 31);
}
::ng-deep .form-control{
  width: 300px;
}
::ng-deep .modal-header #modal-basic-title{
  margin-left: 110px;
}
::ng-deep .modal-header #modal-basic-title1{
  margin-left: 150px;
}
nav{
  background: #212F3C ;
  color: black;
  padding: 30px 100px;
}
nav ul li{
  padding: 10px;
  letter-spacing: 2px;
}
nav ul li a{
  color: white;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 500;
   font-family: 'Century Gothic';
}
nav ul li a:hover{
  color: #5499C7;
}
.nav-item .dropdown-menu{
  background-color: rgb(22, 23, 31);
}
