<div [hidden]="this.hidden" class="container-fluid" style="margin: 0px; padding: 0px;">
  
  <!-- ovaj div ce se prikazivati samo ULOGOVANIM korisnicima!-->
  <div *ngIf="session" style="background-color: white;padding: 10px; border-radius: 4px;margin-bottom: 10px;">
    <div class="row" style="width:100%;padding: 10px; padding-left: 30px; padding-right: 30px;">
      <button style="width:15%;margin-right: 30px; background-color: #212f3c; color:white; height: 50px; border-radius: 20px; " (click)="addNewFile(newFile)"><img src="assets/images/plus.png" width="30px" height="30px">    New Dataset</button>
      <img src="assets/images/search.png" style="height:30px; width: auto; margin: auto; margin-left: 0px; margin-right: -60px; z-index: 1;">
      <input style="width:82%;padding-left: 70px; padding-right: 70px; border-radius: 20px;" placeholder="Search your datasets" [(ngModel)]="searchInputField" > <!-- search sa filterom  (keyup)="searchDatasets()"-->
      <!--<button style="height:35px; width: auto; margin: auto; margin-left: -80px; margin-right: 0px; z-index: 1; background-color: transparent; border: none;">
        <img src="assets/images/filter.png" style="height:35px; width: auto;">
      </button>-->
    </div>

    <div class="row" style="width:100%;padding: 10px; padding-left: 30px; padding-right: 30px;margin:auto;background-color: #CEECFA; border-radius: 10px; min-height: 150px;">
      <!-- ovde ide tabela sa datasetovima korisnika -->
      <p class="fw-bold fs-1">Your datasets:</p>
      <app-userdatasets [search1]="searchInputField" (search)="DeleteSearchInput()" (sendResults)="catchSelectedDataset($event)" ></app-userdatasets>

    </div>
  </div>

  <!-- ovo je prikaz izabranog dataseta koji ce se prikazivati NEULOGOVANIM korisnicima -->
  <div id="prikazTabeleNeulogovanog" *ngIf="!session" style="background-color: white; padding:10px; border-radius: 4px;margin-bottom: 10px; margin: auto; padding-top: 20px;">
    <!--
    <div class="mb-3" style="width:50%;margin: auto;">
      <input class="form-control upload" type="file" id="formFile" (change)="fileUpload($event)">
    </div>
    -->

    <div><!-- ovo ce da se prikazuje NEULOGOVANOM-->
      <div style="width:25%;margin-left: 20px; float:left;text-align: center; padding-top: 50px; padding-bottom: 50px;"><!--this div will be for choosing regression or class dataset, and onInit regression will be chosen-->
        <h3 style="color:#212f3c; font-weight: bold;">Choose Dataset</h3>
        <p>Which dataset do you want to use?</p>
        <br>
        <div style="width:fit-content;margin: auto;">
          <button class="chooseDataset" style="border-radius:10px;border:#212f3c 1px solid; margin:0px; padding:0px; width:fit-content; float:left; margin-right:30px;"
            (click)="loadRegressionDataset()" [style.border]="preloadedDataset==0 ? '2px solid #03a9f4' : '1px solid #03a9f4'">
            <img src="assets/images/regression.png" width="70px" height="70px" style="border-radius:10px;">
          </button>
          <button class="chooseDataset" style="border-radius:10px;border:#212f3c 1px solid; margin:0px; padding:0px; width:fit-content; float: left;"
            (click)="loadClassificationDataset()" [style.border]="preloadedDataset==1 ? '2px solid #03a9f4' : '1px solid #03a9f4'">
            <img src="assets/images/classification.png" width="70px" height="70px" style="border-radius:10px;">
          </button>
          <div class="blanko" style="display:block;clear:left;"></div>
        </div>
        
        <app-heatmap [matrix]="currentCorrResult"></app-heatmap>
        
      
      </div>
      
      <div style="overflow-x: auto; width:40%;height:500px;float: left; margin-left: 10px; border:#CEECFA solid 2px; border-radius: 5px; text-align: center;">
        <app-statistics [result]="currentStatsResult"></app-statistics>
      </div>

      <div style="width:28.5%;margin-left: 20px; float:left;text-align: center; padding-top: 20px; padding-bottom: 20px; overflow-x: auto; border: #CEECFA 2px solid; border-radius: 5px;">
        <app-encoding [input]="currentResult"></app-encoding>
      </div>

      <div style="width:70%; float: left; margin-top: 20px; margin-left: 10px;">
        
        <!-- ovde treba da se nalazi tabela dataseta koji korisnik izabere! -->
        <!-- korisnik moze da bira tabelu koja se dobija sa beka (jedna od dve ponudjene) kada nije ulogovan -->
        
        <app-table [result]="currentResult"></app-table>
      </div>

      <div class="blanko" style="display:block;clear:both;"> 
      </div>
    </div>  
    
  </div>


  <!-- ovo je prikaz izabranog dataseta koji ce se prikazivati ULOGOVANIM korisnicima -->
  <div id="prikazTabeleUlogovanog" *ngIf="session && showMeChosenDataset" style="background-color: white; padding:10px; border-radius: 4px;margin-bottom: 10px; margin: auto; padding-top: 20px;">
    <!-- kada korisnik izabere dataset ovde ce ici -->
    <div style="width:25%;margin-left: 20px; float:left;text-align: center; padding-top: 20px; padding-bottom: 50px;"><!--this div will be for choosing regression or class dataset, and onInit regression will be chosen-->
      <h3 style="color:#212f3c; font-weight: bold;">Chosen Dataset</h3>
      
      <div style="width:80%;margin:auto; ">
        <!-- ovo ce da se prikazuje ulogovanom-->
        <div
          style="border:#212f3c 1px solid; border-radius: 20px; padding-top: 5px;padding-bottom: 5px; margin-bottom: 10px; height: 45px;">
          <div style="font-size:20px;"x>{{chosenDatasetCsv}}</div>
        </div>
        <!--<div style="border:#212f3c 1px solid;border-radius:20px; min-height:150px; margin-bottom: 10px; padding: 10px;">
          Dataset description - ovo je hardkodovano a treba da se dobija iz beka i da se dozvoli izmena!!!
        </div>-->
      
        <!--<button
          style="border-radius:15px; border:#212f3c 1px solid; background-color: #03A9F4; width: 40%; float:right; color:white; font-weight: bold; height: 35px;">Sav
        </button>-->
      </div>
      
      <app-heatmap [matrix]="selectedKor"></app-heatmap>
    
    </div>

    <div style="overflow-x: auto; width:40%;height:500px;float: left; margin-left: 10px; border:#CEECFA solid 2px; border-radius: 5px; text-align: center;">
      <app-statistics [result]="selectedStat"></app-statistics></div>

    <div style="width:28%;margin-left: 20px; float:left;text-align: center; padding-top: 20px; padding-bottom: 20px; overflow-x: auto; border: #CEECFA 2px solid; border-radius: 5px;">
      <app-encoding [input]="selectedDatasetUser"></app-encoding>
    </div>

    <div style="width:100%; float: left; margin-top: 20px;">
      
      <!-- ovde treba da se nalazi tabela dataseta koji korisnik izabere! -->
      <!-- korisnik moze da bira tabelu koja se dobija sa beka (jedna od dve ponudjene) kada nije ulogovan -->
      
      <app-table [result]="selectedDatasetUser"></app-table>
    </div>

    <div class="blanko" style="display:block;clear:both;"> 
    </div>

  </div>

</div>


<ng-template #newFile let-modal style="margin-top:30%;">
  <div style="width:90%;margin: auto;">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title1" style="width:90%;margin:auto;text-align:center;">Create New Dataset</h4>
      <button id="closeModal" type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <div class="col-lg-7">
        <div class="row">
          <input id="uploadedFileName" type="text" placeholder="Enter Dataset Title"  [(ngModel)]="datasetTitle" style="border:#212f3c 1px solid; border-radius: 20px; height: 50px; margin-bottom: 30px;"
          (keyup)="checkButtonEnable()">
        </div>

        <!-- ovde dodajemo fajl -->
        <div class="row"> <!-- browse file -->
          <input class="form-control upload" type="file" id="formFile" style="margin-bottom: 30px;" (change)="fileUpload($event)">
        </div>
        <!--
        <div class="row">
          <input type="text" style="height:300px; width:100%; border:#212f3c 1px solid; border-radius: 20px; margin-bottom: 30px;">
          
        </div>
        -->
            
        <div class="row">
          <button style="width:40%;height: 40px ;background-color: #212f3c ;color:white; 
          border-radius:20px;margin:auto;" (click)="addNewDatasetAndPreview()" [disabled]="onemoguceno">
            Create
          </button>

          <div class="form-check form-switch" style="width:fit-content;margin:auto;">
              <input class="form-check-input" type="checkbox" id="flexPrivatePublic" [(ngModel)]="privateOrPublic" (click)="changePrivatePublic()">
              <div id="labelPrivatePublic" class="form-check-label" for="flexPrivatePublic">Private</div>
          </div>

          <!--
          <div class="form-check form-switch control randomize">
            <div class="select">
              <label class="form-check-label" for="flexSwitchCheckDefault">Shuffle</label><br>
              <input class="form-check-input" type="checkbox" [(ngModel)]="randomize" id="flexSwitchCheckDefault" style="margin:3px;" formControlName="randomize">
            </div>
          </div>
          -->

        </div>
      </div>
    </div>
  </div>
</ng-template>
